@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}
:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
}
body{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fafafa;
    overflow: hidden;
}
.desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mobile{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navlist{
    display: flex;
    list-style: none;
}

.navli{
    margin-right: 8%;
    color: var(--MediumGray);
    cursor: pointer;
}

.logosection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.rightsection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}

.login{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--MediumGray);
    cursor: pointer;
}


.register{
    background-color: transparent;
    color: var(--MediumGray);
    padding: 12px;
    outline: none;
    border: none;
    border: 1px solid var(--MediumGray);
    border-radius: 10px;
    cursor: pointer;
}

.remotemain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    position: relative;
    /* border: 1px solid red; */
}

.leftcontainer {
    position: relative;
    left: -100%; /* Initial position off-screen to the left */
    animation: slideFromLeft 1s ease-out forwards;
}

@keyframes slideFromLeft {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.remoteheading, .remotepara, .remotebtn {
    opacity: 0; /* Initially hide the content */
    animation: fadeIn 1s ease-out forwards 0.5s; /* Delayed fade-in after sliding */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.remoteimgdesktop{
    width: 100%;
    height: auto;
    max-height: 600px;
    animation: slideFromRight 1s ease-out;
}
.remoteimgmobile{
    display: none;
}
@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.remoteleft{
    width: 50%;
    /* border: 1px solid red; */
}

.remoteheading{
    font-size: 3.5em;
    font-weight: bold;
    width: 80%;
}

.remoteheadingmobile{
    display: none;
}
.remotepara{
    color: var(--MediumGray);
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 70%;
    line-height: 1.5rem;
    font-size: 1em;
}

.remotebtn{
    padding: 14px 18px;
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
    border: none;
    outline: none;
    border-radius: 10px;
}

.clients-img{
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 10%;
    opacity: 0;
    animation: slideFromBottom 1s ease-out forwards 0.5s;
}
.clients-img >img{
    max-width: 100%;
    height: auto;
}

@keyframes slideFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.linkremote{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.featurehover{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 160px;
    height: 140px;
    position: absolute;
    left:12%;
    padding-left:1%;
    /* padding-top: 1%; */    

    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);



}
.uparrow{
    display: none;
}
.downarrow{
    display: flex;
}

.featureremotespan{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* gap: 5%; */
    width: 100%;
    margin-bottom: 5%;
}
.iconimg{
    margin-right: 8%;
}

.companyhover{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    background-color: #fff;
    width: 120px;
    height: 120px;
    position: absolute;
    left:22%;
    padding-left:1%;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.companyli:hover,.featureli:hover,.navli:hover,.login:hover{
    color: var(--AlmostBlack);
}
.register:hover{
    color: var(--AlmostBlack);
    border: 2px solid var(--AlmostBlack);
}
.remotebtn:hover{
    background-color: var(--AlmostWhite);
    font-weight: bold;
    color: var(--AlmostBlack);
    border: 2px solid var(--AlmostBlack);
}
.companyitem{
    margin-bottom: 15%;
    color: var(--MediumGray);
}

@media (max-width:800px) {
    body{
        overflow: scroll;
        padding-top: 10%;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .remotemain{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 15%;
        /* border: 1px solid red; */
    }

    .remoteimgdesktop{
        display: none;
    }
    .remoteimgmobile{
        display: flex;
        max-width: 100%;
        height: auto;
        animation: slideFromTop 1s ease-out forwards; /* Delayed slide-in from the top */
    }
    @keyframes slideFromTop {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }

    .remoteheading{
        display: none;
    }
    .remoteleft{
        width: unset;
        margin-top: 10%;
    }
    .remoteheadingmobile{
        display: flex;
        font-size: 25px;
        justify-content: center;
    }

    .remotepara{
        text-align: center;       
        max-width: unset;
        font-size: 0.75em;
    }

    .btncontainer{
        text-align: center; 
    }

    .clients-img{
        gap:4%;
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        bottom: -25%;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-bottom: 10%;
    }
    .client-single-img{
        width: 60px;
    }
}